/*-------------------------------------------------------------------
@name: prophecy
@version: 1.0.0
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
>>> Table of Contents:
---------------------------------------------------------------------
1.0 - Layout
2.0 - Graphs
3.0 - Header
4.0 - Content
5.0 - Modules
6.0 - Footer
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
1.0 Layout
-------------------------------------------------------------------*/
body{
  background-color: #232323;
}

